<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Dwij Bhanderi - 201901168</p>
    <p>Nilay Ghodasara - 201901169</p>
    <p>Ashish Dhami - 201901253</p>
    <p>Akshat Bhayani - 201901455</p>
<%- include("partials/footer"); -%>
