<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>201901168@gmail.com</p>
    <p>201901169@gmail.com</p>
    <p>201901253@gmail.com</p>
    <p>201901455@gmail.com</p>
<%- include("partials/footer"); -%>
